/* {
    border: solid red;
}
*/

body {
    font-family: "Roboto"
}

header {
    background-color: #1f2937; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 13% ;
    padding-right: 13%;
    margin: 0%;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

header ul {
    list-style: none;
    padding: 0px;
}

header ul li {
    display: inline-block;
    margin-left: 15px;
}

header .logo {
    font-size: 24px;
    color: #f9faf8;
}

.intro {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 13% 7% 13%;
    margin: 0%;
    flex-wrap: wrap;

}

.intro .lft {
    flex: 1 1 50%;
    max-width: 48%;
    padding-right: 10px;
}

.intro .lft h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0%;
}

.intro .lft p {
    font-size: 18px;
    color: #e5e7eb;
}

.intro .lft a {
    background-color: #3882f6;
    border-radius: 7px;
    padding: 2% 7% 2% 7%;
    text-decoration: none;
    color: #e5e7eb;
}

.intro .rgt {
    flex-basis: 50%;
    max-width: 50%;
    margin-left: 20px;
}

.intro img {
    flex: 0 0 50%;
    max-width: 50%;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 40px 0 40px 0;
}

.container {
    display: flex;
    margin-left: 13% ;
    margin-right: 13%;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-bottom: 5%;
    
}

.container .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 185px;
}

.container .info img {
    width: 100%;
    height: auto;
    border: solid #3882f6 5px;
    border-radius: 10px;
}

.container .info .text {
    text-align: center;
    color: #1f2937;
}

.quote-part {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 5% 20% 7% 20%;

}

.quote-part p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    margin-bottom: 0%;
}

.quote-part h5 {
    margin: 0%;
    text-align: right;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    margin: 6.5% 13% 6.5% 13%;
    border-radius: 7px;
    padding: 2.5% 0 2.5% 0;
}

.action p {
color: #e5e7eb;
padding: 0%;
margin: 0%;
}

.action a {
    background-color: #3882f6;
    border: solid #e5e7eb;
    border-radius: 7px;
    padding: 0.75% 2.5% .75% 2.5%;
    text-decoration: none;
    color: #e5e7eb;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 1.75% 0 1.75% 0;
}
