/* {
    border: solid red;
}
*/

body {
    font-family: "Roboto"
}

header {
    background-color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 10%;
    margin: 0%;
  }
  
  header a {
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
  
  header .logo {
    font-size: 30px;
    color: #2f2f2f;
    text-transform: uppercase;
    font-family: "Chivo";
  }
  
  header .header-links {
    display: flex;
  }
  
  header .header-links ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
  }
  
  header .header-links li {
    margin-left: 15px;
    font-family: 'Raleway', sans-serif;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  
  header .header-links li a {
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, background-color .3s ease-in-out, border-radius .3s ease-in;
    padding: 3px 5px 3px 5px;
  }
  
  header .header-links li a:hover {
    background-color: #e21a1a;
    box-shadow: inset 150px 0 0 0 #e21a1a;
    color: #E5E6E8;
    border-radius: 20px;
  }
  
  header .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 20px;
    color: #2f2f2f;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    header {
      flex-wrap: wrap;
    }
    
    header .logo {
      margin-right: auto;
      margin-bottom: 10px;
    }
    
    header .header-links {
      width: 100%;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-in-out;
      
    }
    
    header .header-links.open {
      max-height: 500px; /*Adjust the value as needed*/

    }
    
    header .menu-toggle {
      display: block;
    }
  }
  
  

.intro {
    background-color: #E5E6E8;
    padding: 5% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.intro .intro-content {
    flex: 1 1 50%;
    max-width: 50%;
}

.intro h1 {
    font-size: 2.8em;
    font-weight: 800;
    color: rgb(28, 28, 28);
    margin: 0;
    text-transform: uppercase;
    font-family: "Chivo", sans-serif;
}

.intro p {
    font-size: 18px;
    color: #565656;
    margin-bottom: 5%;
    font-family: 'Raleway', sans-serif;
}

.intro .create-btn {
    display: inline-block;
    background-color: #e21a1a;
    border-radius: 7px;
    padding: 2% 6%;
    transition: transform 0.2s ease-in-out;
    color: #E5E6E8;
    text-decoration: none;
    font-weight: bold;
}

.intro .create-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.intro img {
    flex: 1 1 40%;
    max-width: 40%;
    margin-top: 2%;
}

@media (max-width: 768px) {
    .intro {
        flex-direction: column;
        align-items: center;
    }

    .intro .intro-content,
    .intro img {
        max-width: 100%;
    }

    .intro h1 {
        font-size: 2em;
    }

    .intro img {
        margin-top: 5%;
    }
    
}


.title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 40px 0 40px 0;
    text-transform: uppercase;
    font-family: "Chivo";
}

.container {
    display: flex;
    /* overflow-x: scroll; */
    padding: 20px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.container img {
    max-width: 200px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {

    .container img {
        max-width: 100px;
        height: auto;
        transition: transform 0.2s ease-in-out;
    }
}

.container img:hover {
    transform: scale(1.2);
}


.quote-part {
    background-color: #E5E6E8;
    display: flex;
    flex-direction: column;
    padding: 5% 20% 7% 20%;

}

.quote-part p {
    font-size: 1.9rem;
    color: #1f2937;
    font-weight: 300;
    margin-bottom: 0%;
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 768px) {

    .quote-part p {
        font-size: 1.3rem;
    }
}

.quote-part h5 {
    margin: 0%;
    text-align: right;
    font-family: "Chivo";
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#E5E6E8;
    margin: 6.5% 10% 6.5% 10%;
    border-radius: 7px;
    padding: 1.5% 0 1.5% 0;
}

.action p {
    color:#2f2f2f;
    font-family: 'Raleway', sans-serif;
    margin: 1rem 2rem 1rem 2rem;
}

.action a {
    background-color: #e21a1a;
    border: solid #e5e7eb;
    border-radius: 7px;
    padding: 0.75% 2.5% .75% 2.5%;
    text-decoration: none;
    color: #e5e7eb;
    font-weight: bold;
    margin: 1rem 2rem 1rem 2rem;
    
}

footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 1.75% 0 1.75% 0;
    font-family: "Chivo";
}
